* {
  padding: 0;
  margin: 0;
  font-family: Cormorant Garamond;
}
.sec1back {
  background-image: url("https://images.pexels.com/photos/2218344/pexels-photo-2218344.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-float {
  display: flex;
  flex-direction: row;

  padding-top: 25px;
}
.header input {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.header {
  background-color: orange;
  height: 95px;
}
.header button {
  height: 43px;
  min-width: 30px;
  margin-left: 5px;
  border-radius: 5px;
}
.header img {
  height: 50px;
  padding-left: 30px;;
  border-radius: 100%;
}
.header h2 {
  color: white;
  margin-top: 10px;
}
.header .logo {
  display: flex;
  margin-top: 20px;
}
.icon {
  padding-right: 40px;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  margin: auto 100px;
}

/*flex cards*/
.sec2 {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.sec2head {
  margin-top: 70px;
  color: #ecb390;
}
.flex-card {
  display: flex;
  flex-direction: column;

  text-align: center;
  max-height: 400px;
  max-width: 200px;
  border-radius: 15px;
  padding: 20px;
  border: solid #5fd068 4px;
  margin: 20px 20px 60px 20px;
}
.sec2 h3{
  margin: 8px auto;
}
.sec2 .flex-card img {
  height: 220px;
  width: 150px;
}
.sec2 button {
  border-radius: 20px;
  color: white;
  background-color: #5fd068;
  border: none;
  padding: 10px;
  margin-top: 10px;
}
.sec2 button:hover {
  background-color: rgb(81, 239, 81);
}
.sec2 .flex-card:hover {
  transform: scale(1.05);
  transition: width 2s;
}
/*grid*/
* {
  margin: 0;
  padding: 0;
}

.grid img {
  border-radius: 5px;
}

.grid li {
  list-style: none;
  text-decoration: none;
}

/* sec3  */
.sec3 {
  background-image: linear-gradient(
      rgb(198, 146, 86, 0.7),
      rgb(81, 239, 81, 0.6)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ5cpLeWYJ8csym85D5hl4uNKzR1a0BbM13A&usqp=CAU");
  min-height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.sec3 h1 {
  margin-bottom: 40px;
}
.sec3 button:hover {
  background-color: white;
}

/* section4 */
.sec4 {
  margin: 100px 130px;
}
.cards {
  background-color: beige;

  margin: 30px;
  padding: 25px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 33%;
}
.cards h5 {
  padding: 10px;
  color: rgba(198, 146, 86, 1);
  width: 65%;
  margin: 0 auto 20px auto;
  font-size: 20px;
  font-weight: 500;
}
.cards img {
  height: 200px;
  width: 250px;
}
.cards p {
  padding-top: 20px;
  font-size: 18px;
}
.bestsellDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards button,
.sec4 button,
.sec3 button {
  background-color: orange;
  border-color: rgb(198, 146, 86);
  color: black;
  min-height: 48px;
  min-width: 96px;
  padding: 14px 24px;
  font-size: 1.4rem;
  border-radius: 5px;
  line-height: 1.125;
  margin-top: 10px;
}
.cards:hover {
  background-color: rgb(244, 207, 139);
}
.cards button:hover {
  background-color: white;
}
/*marque*/
marquee {
  color: orangered;
  font-size: 25px;
  padding-bottom: 15px;
}

/* section 5 */
.sec5 {
  background-color: #5fd068;
  padding-top: 90px;
  padding-bottom: 15px;
  color: white;
}
